[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
requests = "*"
selenium = "*"
"beautifulsoup4" = "*"
lxml = "*"
django = "*"
uwsgi = "*"
django-storages = "*"
"boto3" = "*"
"psycopg2-binary" = "*"
pillow = "*"
djangorestframework = "*"
celery = "*"

[dev-packages]
django-extensions = "*"
ipython = "*"
awsebcli = "*"

[requires]
python_version = "3.6"
