container_commands:
  01_collectstatic:
    command: "touch /tmp/collectstatic"

  02_migrate:
    command: "touch /tmp/migrate"
    leader_only: true
    # migrate 는 한번만 해도됨 사용하는 rds는 하나니까. leader에서만 해도됨.
    # w지금까지 export환경하고 배포하고 migrate일일이 해줬는데  그럴필요없이 배포시 자동으로 migrate되도록 하자는것.

  01_createsu:
    command: "touch /tmp/createsu"
    leader_only: true  # leader격인 ec2에서만 파일 생성.

