files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/maro_01_collectstatic.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/collectstatic ]      # 파일이 있으면 이하를 실행.
      then
        rm -f /tmp/collectstatic
        sudo docker exec `sudo docker ps -q` python /srv/project/app/manage.py collectstatic --noinput
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/maro_02_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/migrate ]      # 파일이 있으면 이하를 실행.
      then
        rm -f /tmp/migrate
        sudo docker exec `sudo docker ps -q` python /srv/project/app/manage.py migrate --noinput
      fi


  "/opt/elasticbeanstalk/hooks/appdeploy/post/maro_03_createsu.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/createsu ]      # 파일이 있으면 이하를 실행.
      then
        rm -f /tmp/createsu
        sudo docker exec `sudo docker ps -q` python /srv/project/app/manage.py createsu
      fi


  "/opt/elasticbeanstalk/hooks/appdeploy/post/maro_9999_remove_scripts.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      rm -f /opt/elasticbeanstalk/hooks/appdeploy/post/maro*.sh
      rm -f /opt/elasticbeanstalk/hooks/appdeploy/post/maro*.sh.bak


