{% load socialaccount %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
<body>

        {% if user.is_authenticated %}
        <span>{{user}}님이 로그인중입니다.</span>

        {% else %}

        <br>
        <br>

        <h1>##### 일반 login ####</h1>
        <h2>Normal login test</h2>
        <div>
            <form action="{% url 'members:normal_login' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">normal login</button>
            </form>
        </div>


        <h1>##### 개별 view이용한 social lgoin ####</h1>
        <h2>Facebook login test</h2>
        <a href=" https://www.facebook.com/v3.0/dialog/oauth?
        client_id={{fecebook_app_id}}
        &redirect_uri={{facebook_redirect_uri}}
        &scope=email,public_profile" class="btn btn-primary">facebook login</a>




        <h2>Kakao login test</h2>
        <a href="https://kauth.kakao.com/oauth/authorize?client_id={{kakaotalk_rest_api_key}}&redirect_uri={{kakaotalk_redirect_uri}}&response_type=code"
           class="btn btn-primary">kakaotalk login</a>


        <h2>Naver login test</h2>
        <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id={{naver_client_id}}&redirect_uri={{naver_redirect_uri}}&state=RAMDOM_STATE"
           class="btn btn-primary">Naver login</a>


        <h2>Google login test</h2>
        <a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/userinfo.profile&redirect_uri={{google_redirect_uri}}&response_type=code&client_id={{google_client_id}}"
         class="btn btn-primary">Google login</a>



        <h1>##### allauth 이용한 login #####</h1>
        <a href="{% provider_login_url 'github' %}" class="btn btn-primary">Github login</a>



        <h1>##### logout #####</h1>

        <div>
            <form action="{% url 'members:logout_view' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">normal logout</button>
            </form>
        </div>
        {% endif %}
</body>
</html>