{% extends '../base.html'%}
{% block content %}



        <br>
        <br>

        <h1># 비밀번호 변경 #</h1>
        <div>
            새 비밀번호
            <form action="{% url 'members:user_password_change_page' %}" method="POST">
                {% csrf_token %}
                <input type="password" name = "password">
                <button type="submit" class="btn btn-primary">인증 메일 전송 </button>
            </form>
        </div>


        <div>
            인증번호
            <form action="{% url 'members:user_password_change' uidb64=uid token=token password=password %}" method="POST">
                {% csrf_token %}
                <input type="send_number" name = "send_number">
                <button type="submit" class="btn btn-primary">인증번호 인증 </button>
            </form>
        </div>



{% endblock %}