{% extends '../base.html'%}
{% block content %}


        <br>
        <br>

        <h1>##### 회원가입 #####</h1>
        <div>

            <form action="{% url 'members:signup_page' %}" enctype="multipart/form-data" method="POST">

                {{  form.non_field_errors }}
                {% csrf_token %}
                {% for field in form %}
                <div clsss="form-group">
                    <label for="{{field.id_for_label}}">{{ field.label }}</label>
                    {{field}}
                    {{field.errors}}
                </div>
                {% endfor %}
                <button type="submit">회원가입</button>
            </form>
            
        </div>


{% endblock %}