{% extends '../base.html'%}
{% block content %}


    <br>
    <br>

    <h2># 회원정보 수정 페이지 # </h2>

    <div>

        <p>username: {{user.username}}</p>

        {% if user.password %}
        <p>password</p>
                <form action="{% url 'members:user_password_change_page' %}" method="GET">
                    <button type="submit" class="btn btn-primary" > 비밀번호 변경 </button>
                </form>

        {% endif %}

        <p>email: {{user.email}}</p>
            <form action="{% url 'members:user_email_change_page' %}" method="GET">
                <button type="submit" class="btn btn-primary" > 이메일 변경 </button>
            </form>


        <p>phone_number: {{user.phone_number}}</p>
            <form action="{% url 'members:user_phone_number_change_page' %}" method="GET">
                <button type="submit" class="btn btn-primary" > 휴대폰번호 변경 </button>
            </form>




    </div>


{% endblock %}