{% extends '../base.html'%}


{% block content %}
    <div id="gnb" style="float:right; display:inline-block;">
        <ul>

            <li class="menu3">
                <a href="">정렬 </a>
                <dl class="dropdown">
                    <dd><a href="{% url 'movies:main_page_by_date' %}"> 날짜순 정렬</a></dd>
                    <dd><a href="{% url 'movies:main_page_by_genre' %}"> 장르별 정렬 </a></dd>
                    <dd><a href="{% url 'movies:main_page_by_rating' %}"> 평점순 정렬 </a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <br><br><br><br><br><br>


<div class="container">



    {% for genre in genre_list %}

    {% if genre == "" %}
        <h2> 기타 </h2>
    {% else %}
        <h2> {{genre}} </h2>
    {% endif %}

    <div class="row">
        {% for movie in movies %}
            {% if genre == movie.genre %}
                <div class="col-4 mb-3">
                <div class="card-img-top" style="height: 177px; width: 309px; background-image: url('{{movie.thumbnail_url}}'); background-size: cover;"></div>
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <p class="card-text">{{movie.when}}</p>
                    </div>

                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% endfor %}

</div>

{% endblock %}





