{% extends '../base.html'%}




{% block content %}




    <div id="gnb" style="float:right; display:inline-block;">
        <ul>

            <li class="menu3">
                <a href="">정렬 </a>
                <dl class="dropdown">
                    <dd><a href="{% url 'movies:main_page_by_date' %}"> 날짜순 정렬</a></dd>
                    <dd><a href="{% url 'movies:main_page_by_genre' %}"> 장르별 정렬 </a></dd>
                    <dd><a href="{% url 'movies:main_page_by_rating' %}"> 평점순 정렬 </a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <br><br><br><br><br><br>

<div class="container">
    <div class="row">
        {% for movie in movies %}
        <div class="col-4 mb-3">
            <a href="{% url 'movies:movie_detail' pk=movie.pk %}"><div class="card-img-top" style="height: 177px; width: 309px; background-image: url('{{movie.thumbnail_url}}'); background-size: cover;">
                    {% if user.is_authenticated %}
                        <div style="float:right; display:inline-block;" >

                            <form action="{% url 'members:user_movie_like' pk=movie.pk %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                {% if movie in user.like_movies %}
                                <button type="submit" class="btn btn-danger btn-xs" >찜취소</button>
                                {% else %}
                                <button type="submit" class="btn btn-success btn-xs" >찜하기</button>
                                {% endif %}
                            </form>
                        </div>
                    {% endif %}
            </div></a>
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">{{movie.when}}</p>
            </div>
            
        </div>
        {% endfor %}
         
        
    </div>
</div>

{% endblock %}






