{% extends '../base.html'%}


{% block content %}

<br>
<br>
<div class="card bg-dark text-white">

        <div class="card-img-top" style="height: 354px; width: 618px; background-image: url('{{movie.thumbnail_url}}'); margin: 20px;  background-size: cover;"></div>
            <div class="card-body">
                <h4 class="card-title">{{movie.title}}</h4>

                {% if movie.genre %}
                    <p class="card-text">장르 : {{movie.genre}}</p>
                {% endif %}

                {% if movie.director %}
                    <p class="card-text">감독 : {{movie.director}}</p>
                {% endif %}

                {% if movie.rating %}
                    <p class="card-text">평점 : {{movie.rating}}</p>
                {% endif %}

                {% if movie.age %}
                    <p class="card-text">시청연령 : {{movie.age}}</p>
                {% endif %}

                {% if movie.runtime %}
                    <p class="card-text">런타임 : {{movie.runtime}} 분 </p>
                {% endif %}

                {% if movie.when %}
                    <p class="card-text">상영일: {{movie.when}}</p>
                {% endif %}

                {% if movie.library %}
                    <p class="card-text">장소: <a href="https://search.naver.com/search.naver?sm=top_hty&fbm=1&ie=utf8&query={{movie.library.library_name}}">{{movie.library.library_name}}</a> {{movie.place}}</p>
                {% endif %}

                {% if movie.story %}
                    <p>줄거리: </p>
                    <span> {{movie.story}}</span>
                {% endif %}

            </div>



</div>

{% endblock %}

